{% extends "template.html" %}

{% block subname %}Cardlet{% endblock %}

{% block main %}
<h2>Cardlet</h2>
<p>Vítetje v aplikaci Cardlet. Tato aplikace slouží pro výuku s využitím didaktické pomůcky paměťových karet. Můžete si zde vytvořit sadu kartiček, které si sebou přinesete vytištěné na výuku nebo je budete promítat na obrazovce třídě. Tyto kartičky se skládají z odkryté a skryté strany a dají se otáčet. Tímto způsobem můžete využít kartičky pro rychlé opakování na začátku hodiny nebo pětiminutový test.</p>

<h3>Návod k použití</h3>
<ol>
    <li>Klikněte v navigační liště na odkaz Karty a uvidíte svou vytvořenou sadu karet.</li>
    <li>Pod sadou karet se nachází formulář pro tvorbu nové karty - vyplňte příslušné strany a potvrďte tlačítkem Vytvoř kartu.</li>
    <li>Do sady karet se Vám připíše nová karta, kterou můžete tlačítkem Upravit kdykoliv upravit.</li>
    <li>Pořadí karet si můžete náhodně promíchat kliknutím na tlačítko Promíchat.</li>
    <li>Pořadí karet si můžete seřadit podle názvu nebo data vytvoření kliknutím na příslušná tlačítka: Seřad - název, Seřad - datum.</li>
    <li>Na vrcholu stránky máte možnost exportovat karty jako obrázky v JPEG formátu, sadu karet v PDF pro tisk a zobrazit interaktivně při výuce.</li>
    <li>Při zobrazení pro výuku se spustí celoobrazová prezentace se sadou karet (vždy jen jedna aktuálně viditelná), které při kliku otočí stranu. Šipkami se můžete mezi kartami přesouvat.</li>
    <li>Prezentaci sady karet můžete kdykoliv ukončit kliknutím na tlačítko Konec nebo začít od znovu kliknutím na tlačítko Restart.</li>
    <li>Pokud máte nějaké dotazy k aplikaci, náměty na vylepšení nebo byste chtěli spolupracovat na projektu, tak nás kontaktujte ve formuláři v záložce Kontakt v navigační liště.</li>
</ol>

<h3>Nové funkcionality</h3>
<ul>
    <li>Verze X.X: bude dopsáno (ještě nic nefunguje)</li>
</ul>
{% endblock %}
